<html>
<head>
    <title>NBA Stat Checker</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>NBA Stat Checker</h1>
    <div class="optionbox optionbox1">
        <a href="/leaderboards">Leaderboards</a>
    </div>
    <div class="optionbox optionbox2">
        <a href="/favorites">Favorite Club Memory</a>
    </div>
    <img src="logo.png" alt="Nba Logo" style="display: block; margin: 20px auto;" />
</body>
</html>